<% include partials/head.ejs %>
<body id='gif'>
  <% include partials/nav.ejs %>
  <% include ./partials/messages %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
      <% if (docs.length > 0) { %>
        <h4 class="title">Reservation response</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Booking Id</th>
              <th>Status</th>
              <th>Update our Flight</th>
              <th>Settle Payment</th>
            </tr>
          </thead>
          <tbody>
            <% docs.forEach( response => { %>
              <tr>
                <td><%= response.bookingId %></td>
                <td><%= response.status %></td>
                <% if (response.status == 'accept') { %>
                  <td><a href="updatebooking/<%= response.bookingId %>"><input type="button" class="btn btn-info" value="Update"></a></td>
                  <td><button class="btn btn-danger" type="button" id="settlepayment" value2 = "<%= add %>"> Settle Payment </button></td>
                <% } %>
             </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else {  %>
          <h4>There are no response yet!</h4>
        <% } %>
      </div>
        </div>
          </div>
  <% include partials/bcscripts.ejs %>
</body>
</html>
